@media(max-width:1400px){

}
@media(max-width:1200px){
    
}
@media(max-width:992px){
  
}
@media(max-width:768px){
  .service{
    padding-top: 450px !important;
  }
.yo{
  padding-top: 50px;
}
}
@media(max-width:576px){
  .logo_back{
    display: none;
  }
  .main_banner_text{
    padding: 50px 0 !important;
  }
.serivce{
  padding-top: 450px !important;
}
.about_paragraph{
    padding-bottom: 50px !important;
}
.use{
    padding-bottom: 50px !important;
    margin-left: 0 !important;
}
.gm{
  width: 300px;
}
}